@model KSoftProject2.Models.CalendarioPersona

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>CalendarioPersona</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Calendario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Calendario.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Persona)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Persona.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
