@model KSProject.Models.Persona

@{
    ViewData["Title"] = "Edit";
}
@inject KSProject.Services.KSProjectServices KSProjectServices
@inject KSProject.Services.KSProjectServices service
@{
    KSUser currentUser = service.GetCurrentUser(User.Identity.Name);
}

<header class="container adminHeader">
    <h2>@currentUser.FirstName @currentUser.LastName</h2>
</header>


<div class="container adminArticle">
    <div class="row">
        <div class="col-md-2 col-sm-1 adminButton">
            <input id="BtnMain" type="button" value="Calendario" class="btnCal" />
            <hr />
            <input id="BtnMain" type="button" value="Dedicacion" class="btnDed" />
            <hr />
            <input id="BtnMain" type="button" value="Oporrak" class="btnOpo" />

        </div>
        <div class="col-sm-8 tableWP">
            @{
                List<Persona> personas = KSProjectServices.GetPersonasDB();
                <div>
                    <h1>Personas</h1>
                    <hr />
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Usuarios</th>
                                <th>Total horas estimadas</th>
                                <th>Total horas trabajadas</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Persona u in personas)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => u.Nombre)
                                    </td>
                                   
                                    <td>
                                        @Html.DisplayFor(modelItem => u.TotalHorasEstimadas)
                                    </td>
                                   
                                    <td>
                                        @Html.DisplayFor(modelItem => u.TotalHorasTrabajadas)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@u.Id">Edit</a> 
                                        <a asp-action="Details" asp-route-id="@u.Id">Details</a> 
                                        <a asp-action="Delete" asp-route-id="@u.Id">Delete</a>
                                    </td>
                                </tr>

                            }
                        <tbody />

                    </table>
                    @*<div class="form-group">
                            <input type="submit" value="Save" id="SaveChanges" />
                        </div>*@
                </div>
            }
        </div>

    </div>
</div>



<footer class="container">
    <a asp-area="" asp-controller="Home" asp-action="Configuration">Return</a>
</footer>


<script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script>
    $('.project_active').change(function (e) {
        var form = e.target.closest('form');
        form.submit();
    });
    $('.change_team').change(function (e) {
        var form = e.target.closest('form');
        form.submit();
    });
    $('.btnCal').on('click', function () {
        window.location.href = "/Calendarios/Index";
    });
    $('.btnDed').on('click', function () {
        window.location.href = "/Dedications/Index";
    });
    $('.btnOpo').on('click', function () {
        window.location.href = "/Oporraks/Index";
    });

</script>
