@model IEnumerable<KSoftProject2.Models.UserWorkPackage>
@inject KSoftProject2.Services.KSProjectServices service
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    KSUser currentUser = service.GetCurrentUser(User.Identity.Name);
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.eot" />
<div class="container adminHeader">
    <div class="row">
        <div class="col-md-4">
            <h2>@currentUser.FirstName @currentUser.LastName</h2>
        </div>
        <div class=" col-md-offset-9">
            <div class="botones">
                <button type="button" id="btnSearch" class="btn btn-default btn-s">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    <a asp-action="SearchResult"></a>
                </button>
                <button type="button" class="btn btn-default btn-s">
                    Create
                    <a asp-action="Create"></a>
                </button>
                <button type="button" id="wp-details-view" class="btn btn-default btn-s" title="Detalles">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    <a asp-action="Info"></a>
                </button>
                <button class="btn btn-default btn-xs">
                    Gestion
                    <form asp-action="Gestion" method="post">
                        <select name="dropdown " class="project_active">
                            <option value=""></option>
                            <option value="gestion">Gestion</option>
                            <option value="formacion">Formacion</option>
                            <option value="reuniones">Reuniones</option>
                            <option value="mejoraContinua">Mejora Continua</option>
                        </select>
                        @*<input type="hidden" name="login" value="@u.Login" />*@
                    </form>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2 col-sm-1">
            <input id="BtnMain" type="button" value="My Sprint" class="btnMyS" />
            <hr />
            <input id="BtnMain" type="button" value="App" class="btnApp" />
            <hr />
            @{
                if (User.HasClaim("teamleader", "teamleader"))
                {
                    <input id="BtnMain" type="button" value="Planification" class="btnPlani" />
                    <hr />
                    <input id="BtnMain" type="button" value="Burdown" class="btnBurdown" />
                }
            }
        </div>
        <div class="col-sm-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <button type="button" id="btnOcultar" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                            </button>
                            <button type="button" id="btnMostrar" class="btnMostrar btn-default btn-xs">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                            </button>
                        </th>
                        <th class="ksoftName">
                            @Html.DisplayNameFor(model => model.WorkPackage._Links.CustomField1.KsoftProject)
                        </th>
                        <th class="sprintName">
                            @Html.DisplayNameFor(model => model.WorkPackage._Links.CustomField2.Sprint)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.WorkPackage._Links.Type.Tipo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.WorkPackage.IdOP)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.WorkPackage.Description.Raw)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.WorkPackage._Links.Status.Estado)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.WorkPackage.EstimatedTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.WorkPackage.SpentTime)
                        </th>
                        <th>

                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.WorkPackage.StartDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.WorkPackage.DueDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.WorkPackage._Links.Assignee.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.WorkPackage._Links.Priority.Title)
                        </th>
                        <th>
                        </th>
                        <th>
                            Project
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <form asp-action="Index" method="post">
                                    <input type="radio" name="election" class="optionKSP"/>
                                    <input type="hidden" name="id" value="@item.Id" />
                                </form>
                            </td>
                            <td class="ksoftCol">
                                @Html.DisplayFor(modelItem => item.WorkPackage._Links.CustomField1.KsoftProject)
                            </td>
                            <td class="sprintCol">
                                @Html.DisplayFor(modelItem => item.WorkPackage._Links.CustomField2.Sprint)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.WorkPackage._Links.Type.Tipo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.WorkPackage.IdOP)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.WorkPackage.Description.Raw)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.WorkPackage._Links.Status.Estado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.WorkPackage.EstimatedTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.WorkPackage.SpentTime)
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary btn-xs">+</button>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.WorkPackage.StartDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.WorkPackage.DueDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.WorkPackage._Links.Assignee.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.WorkPackage._Links.Priority.Title)
                            </td>
                            <td>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" />
                                    </label>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary btn-xs">move</button>
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div id="information" class="col-sm-2" hidden>
            <button type="button" id="wp-details-close" class="btn btn-default btn-s" title="Cerrar">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                <a asp-action="Info"></a>
            </button>
            @foreach (var item in Model)
            {
                <h3>
                    @Html.DisplayFor(modelItem => item.WorkPackage._Links.CustomField1.KsoftProject)
                    @Html.DisplayFor(modelItem => item.WorkPackage.Description.Raw)
                </h3>
                <p>
                    @Html.DisplayFor(modelItem => item.WorkPackage.IdOP): Created by @Html.DisplayFor(modelItem => item.WorkPackage._Links.Author.Name)
                    <br />
                    Status: @Html.DisplayFor(modelItem => item.WorkPackage._Links.Status.Estado)
                </p>
                <h2>DESCRIPTION</h2>
                <P>
                    @Html.DisplayFor(modelItem => item.WorkPackage.Description.Raw)
                </P>
                <h2>PEOPLE</h2>
                <p>
                    Assigne: @Html.DisplayFor(modelItem => item.WorkPackage._Links.Assignee.Name)
                    <br />
                    Responsible: @Html.DisplayFor(modelItem => item.WorkPackage._Links.Responsible.Name)
                    <br />
                </p>
                <h2>DETAILS</h2>
                <p>
                    Ksoft Project: @Html.DisplayFor(modelItem => item.WorkPackage._Links.CustomField1.KsoftProject)
                    <br />
                    Priority: @Html.DisplayFor(modelItem => item.WorkPackage._Links.Priority.Title)
                    <br />
                    Delivery Date: @Html.DisplayFor(modelItem => item.WorkPackage.DueDate)
                    <br />
                    Spent Time <button type="button" class="btn btn-primary btn-xs">+</button>
                    <br />
                    Project <button type="button" class="btn btn-primary btn-xs">move</button>
                </p>
            }
        </div>
    </div>
</div>
<footer class="container mainFoot">
    <a asp-area="" asp-controller="Home" asp-action="Members">Return</a>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script>
    $('#btnOcultar').on('click', function () {
        $('.ksoftName').hide("fast");
        $('.ksoftCol').hide("fast");
        $('.sprintName').hide("fast");
        $('.sprintCol').hide("fast");
    });
    $('#btnMostrar').on('click', function () {
        $('.ksoftName').show("fast");
        $('.ksoftCol').show("fast");
        $('.sprintName').show("fast");
        $('.sprintCol').show("fast");
    });
    $('#btnSearch').on('click', function (e) {
        var form = e.target.closest('form');
        form.submit();
    });
    $('.optionKSP').on('click', function (e) {
        var form = e.target.closest('form');
        form.submit();
    })
    function selectWP(radio) {
        $('#wp-details-view').on('click', function () {

            $('#information').show("fast");
        });
    }

    

    $('#wp-details-close').on('click', function () {
        $('#information').hide("fast");
    })

</script>
@*<script>
        $('.project_active').on('click', function (e) {
            var form = e.target.closest('form');
            form.submit();
        });
        $('.project_inactive').on('click', function (e) {
            var form = e.target.closest('form');
            form.submit();
        });
    </script>*@
@*<@*script>
        function myFunction() {
            var x = document.getElementById('myDIV');
            if (x.style.visibility === 'hidden') {
                x.style.visibility = 'visible';
            } else {
                x.style.visibility = 'hidden';
            }
        }
    </script>*@

