@model IEnumerable<AppRetoKirolBet.Models.UserWorkPackage>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@User.Identity.Name</h2>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr><th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkPackage._Links.CustomField2.KsoftProject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkPackage._Links.CustomField1.Sprint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkPackage._Links.Type.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkPackage.IdOP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkPackage.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkPackage._Links.Status.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkPackage.EstimatedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkPackage.SpentTime)
            </th>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkPackage.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkPackage.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkPackage._Links.Assignee.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkPackage._Links.Priority.Title)
            </th>
            <th>
                Project
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">
                        </label>
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkPackage._Links.CustomField2.KsoftProject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkPackage._Links.CustomField1.Sprint)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkPackage._Links.Type.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkPackage.IdOP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkPackage.Description.Raw)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkPackage._Links.Status.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkPackage.EstimatedTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkPackage.SpentTime)
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-xs">+</button>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkPackage.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkPackage.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkPackage._Links.Assignee.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkPackage._Links.Priority.Title)
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-xs">move</button>
                </td>
                
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }


    </tbody>
</table>
