@model IEnumerable<AppRetoKirolBet.Models.WorkPackage>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@User.Identity.Name</h2>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model._Links.CustomField2.KsoftProject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._Links.CustomField1.Sprint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdWPOpenProject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimatedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RemainingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._Links.Assignee.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._Links.Type.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._Links.Status.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._Links.Priority.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description.Raw)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item._Links.CustomField2.KsoftProject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item._Links.CustomField1.Sprint)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdWPOpenProject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstimatedTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RemainingTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item._Links.Assignee.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item._Links.Type.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item._Links.Status.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item._Links.Priority.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description.Raw)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }


    </tbody>
</table>
