@inject AppRetoKirolBet.Services.KirolBetServices KirolBetServices
@*@model IEnumerable<WorkPackage>;*@
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="container">
    <p>Los proyectos del Developer son:</p>
    @{
        List<WorkPackage> workPackages = await KirolBetServices.GetWorkPackagesDevApi();
        <ul>
            @foreach (WorkPackage workP in workPackages)
            {
                <li>@workP.Id</li>
                <li>@workP.IdWPOpenProject</li>
                <li>@workP.Subject</li>
                <li>@workP.EstimatedTime</li>
                <li>@workP.StartDate</li>
                <li>@workP.DueDate</li>
                <li>@workP.RemainingTime</li>
                <li>@workP._Links.Assignee.Name</li>
                <li>@workP.Description.Raw</li>
                <li>@workP._Links.Status.Estado</li>
                <li>@workP._Links.Type.Tipo</li>
            }
        </ul>
    }
</div>

