@model IEnumerable<WorkPackage>;
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Holi</p>

@{
    foreach (WorkPackage p in Model)
    {

        <p>@p.Id</p>
        <p>@p.Subject</p>
        <p>@p.Type</p>
        <p>@p.Status</p>
        <p>@p.Assignee</p>
    }
}