@inject AppRetoKirolBet.Services.KirolBetServices KirolBetServices

@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>



@{
    List<User> users = KirolBetServices.GetUsersDB();
    <div>
        <h1>Users</h1>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>Usuarios</th>
                    <th>Rol actual</th>
                </tr>
                
            </thead>
            <tbody>
                @foreach (User u in users)
                {
                    <tr>
                        <td>
                            <div class="form-group">
                                @Html.DisplayFor(modelItem => u.Name)
                            </div>
                            <form asp-action="Asignar" method="post">
                                <select name="dropdown" class="project_active">
                                    <option value=""></option>
                                    <option value="developer">Developer</option>
                                    <option value="teamleader">Team Leader</option>
                                    <option value="admin">Administrator</option>
                                </select>
                                <input type="hidden" name="Id" value="@u.Id" />
                            </form>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => u.UserRole)
                        </td>       

                    </tr>
                }
            <tbody />
        </table>
        @*<div class="form-group">
                <input type="submit" value="Save" id="SaveChanges" />
            </div>*@
    </div>
}
<script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script>
    $('.project_active').change(function (e) {

        var form = e.target.closest('form');

        form.submit();

    });
</script>


