@inject AppRetoKirolBet.Services.KirolBetServices KirolBetServices
@*@model IEnumerable<User>;*@
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

@{
    List<WorkPackage> workPackages = KirolBetServices.GetWorkPackagesDB();
    <div>
        <h1>KSOFT PROJECT</h1>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>KSOFT PROJECTS</th>
                    <th>Project Activado</th>
                    <th>Project Desactivado</th>
                </tr>
            </thead>
            <tbody>
                @foreach (WorkPackage workP in workPackages)
                 {
                    <tr>
                        <td>
                            <div class="form-group">
                                @Html.DisplayFor(modelItem => workP.Subject)
                            </div>
                        </td>
                        <td>
                            <form asp-action="Activate" method="POST">
                                <input type="checkbox" class="project_active" name="election" value="Activado" />
                                <input type="hidden" name="id" value="@workP.Id">
                            </form>
                        </td>
                        <td>
                            <form asp-action="Inactivate" method="POST">
                                <input type="checkbox" class="project_inactive" name="election" value="Desactivado" />
                                <input type="hidden" name="id" value="@workP.Id">
                            </form>
                        </td>
                    </tr>
                 }
            <tbody/>
        </table>
        
    </div>       
}
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>      
<script>
    $('.project_active').on('click', function (e) {
        var form = e.target.closest('form');
        form.submit();
    });
    $('.project_inactive').on('click', function (e) {
        var form = e.target.closest('form');
        form.submit();
    });
</script>



