@model IEnumerable<User>;
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Los miembros del proyecto son:</p>

@{
    foreach (User u in Model)
    {

        <p>@u.Id</p>
        <p>@u.Name</p>
        <p>@u.Login</p>
        
    }
}

