@model IEnumerable<KSProject.Models.Dedication>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Desarrollo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gestion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Formacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soporte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Investigacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoDedicadas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Desarrollo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gestion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Formacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soporte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Investigacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoDedicadas)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
